*{
  padding: 0;
  margin: 0;


  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body{
  background: #EDE9F2;
}

nav{
  background: #f3f3f3;
  height: 60px;
  width: 100%;
}

label.logo{
  color: #020202;
  font-size: 25px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
  font-family: sans-serif;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a{
  padding: 13px 13px;
  border-radius: 100%;
}

a.active, a:hover{
  background: #8E6BBF;
  transition: .5s;
}
.produto>img{
  position: absolute;
  width: 520px;
  height: 520px;
  left: 132px;
  top: 215px;
}

.produto_text{
  position: absolute;
  width: 663px;
  height: 438px;
  left: 714px;
  top: 256px;

  background: #D2BBF2;
  border-radius: 25px;
}

.produto_text h2{
  position: absolute;
  width: 370px;
  height: 42px;
  left: 50px;
  top: 36px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;

  color: #000000;
}

.produto_text h3{
  position: absolute;
  width: 308px;
  height: 42px;
  left: 49px;
  top: 96px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  text-align: center;

  color: #000000;
}

.produto_text h5{
  position: absolute;
  width: 379px;
  height: 18px;
  left: 16px;
  top: 144px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #000000;
}

.produto_text button{
  position: absolute;
  width: 379px;
  height: 18px;
  left: 49px;
  top: 180px;

  background: #711fa0;
  border-width: 0px;
  border-style: solid;
  color: #ffffff;
  width: 120px;
  height: 30px;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  letter-spacing: 3px;
  transition: 0.8s;
}

button:hover{
  cursor: pointer;
  background-color: rgb(183, 125, 238);
  box-shadow: 5px 4px #4b295c;
}

.produto_text img{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 190px;
  top: 185px;
}

.produto_text pre{
  position: absolute;
  width: 313px;
  height: 123px;
  left: -50px;
  top: 227px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-break: break-all;

  color: #000000;
}

.menu{
  position: absolute;
  width: 50% 50%;
  height: 40;
  left: 88px;
  top: 839px;
  margin-left:85px;

  background: #8E6BBF;
  border-radius: 25px;
}

.menu ul li{
  display: inline-block;
  align-items: center;
  line-height: 60px;
  margin: 0 10px;
  margin-top: 25px;

  animation: Menu 2.5s;
}

.menu ul li a{
  padding: 0px 15px;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  transition: 1s;
}


.menu a img:hover{
  cursor: pointer;
  box-shadow: 0 2px 20px 0 #ffffff, 0 4px 40px 0 #cfcfcf;
  transition: 2s;
}