body{
    background-color: #f3f3f3;
}

.box_preco{
    box-sizing: border-box;
    margin-left: 670px;
    margin-top: 400px;
    margin-bottom: 50px;
    width: 500px;
    height: 280px;
    border-color: rgb(154, 154, 154) ;
    background-color: rgb(180, 180, 180);
    border: 2px;
    box-shadow: 2px 2px 2px rgb(180, 180, 180) ;
    position: absolute;
    z-index: 100;
    border-radius: 25px;
}

.box_info{
    box-sizing: border-box;
    margin-left: 670px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: 280px;
    border-color: white ;
    background-color: white;
    border: 2px;
    box-shadow: 2px 2px 2px rgb(180, 180, 180) ;
    border-radius: 25px;
    position: absolute;
    z-index: 100;
}

.box_compre{
    box-sizing: border-box;
    margin-left: 770px;
    margin-top: 400px;
    margin-bottom: 50px;
    width: 150px;
    height: 75px;
    border-color: rgb(62, 62, 255) ;
    background-color:rgb(62, 62, 255);
    border: 2px;
    box-shadow: 2px 2px 2px rgb(180, 180, 180) ;
    position: absolute;
    z-index: 100;
    border-radius: 25px;
}

.box_preco b{
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
}

.box_info b{
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
}

.text1{
    margin-left: 670px;
    margin-top: 60px;
}

.box_prod{
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;    
    width: 550px;
    height: 590px;
    border-color: rgb(87, 87, 87);
    border: 2px inset;
    box-shadow: 2px 2px 2px rgb(87,87,87);
    z-index: 1;
}

.box_prod img{
    width: 500px;
    height: auto;
    margin: auto;
    margin-left: 20px;
    margin-top: 30px;
}

#menu__toggle { 

    opacity: 0; 

  } 

  #menu__toggle:checked + .menu__btn > span { 

    transform: rotate(45deg); 

  } 

  #menu__toggle:checked + .menu__btn > span::before { 

    top: 0; 

    transform: rotate(0deg); 

  } 

  #menu__toggle:checked + .menu__btn > span::after { 

    top: 0; 

    transform: rotate(90deg); 

  } 

  #menu__toggle:checked ~ .menu__box { 

    left: 0 !important; 

  } 

  .menu__btn { 

    position: fixed; 

    top: 20px; 

    left: 20px; 

    width: 26px; 

    height: 26px; 

    cursor: pointer; 

    z-index: 1; 

  } 

  .menu__btn > span, 

  .menu__btn > span::before, 

  .menu__btn > span::after { 

    display: block; 

    position: absolute; 

    width: 100%; 

    height: 2px; 

    background-color: #000000a5; 

    transition-duration: .25s; 

  } 

  .menu__btn > span::before { 

    content: ''; 

    top: -8px; 

  } 

  .menu__btn > span::after { 

    content: ''; 

    top: 8px; 

  } 

  .menu__box { 

    display: block; 

    position: fixed; 

    top: 0; 

    left: -100%; 

    width: 200px; 

    height: 100%; 

    margin: 0; 

    padding: 80px 0; 

    list-style: none; 

    background-color: #6B4A8C; 

    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4); 

    transition-duration: .25s; 

  } 

  .menu__item { 

    display: block; 

    padding: 12px 24px; 

    color: #ffffff; 

    font-family: 'Roboto', sans-serif; 

    font-size: 20px; 

    font-weight: 600; 

    text-decoration: none; 

    transition-duration: .25s; 

  } 

  .menu__item:hover { 

    background-color: #cfd8dc6d; 

  } 
